html {
  height: 100%;
  margin-bottom: 1px;
}

body {
  background: #909090;
  padding: 10px;
}

/* ARCADE MACHINE */
.stage {
  perspective: 1600px;
  perspective-origin: 50% 50%;
  transform-origin: 100% 100%;
  margin: 80px 0 100px 100px;
  transition: transform 1s;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

/* Zoom */
.arcademachinewrap {
  position: relative;
  width: 380px;
  transform-style: preserve-3d;
  transform: scale(0.4);
  transition: all 1s;
  z-index: 0;
}

/* Rotate */
.arcademachinewrap .arcademachine {
  position: relative;
  width: 380px;
  transform-style: preserve-3d;
  animation: spin 5s linear infinite;
  animation-play-state: running;
  transition: all 1.5s;
  transform: rotateY(89deg);
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.box {
  position: relative;
  width: 380px;
  transform-style: preserve-3d;
}

.side {
  backface-visibility: hidden;
}

/* Cap */
.cap {
  z-index: -1;
  transform-style: preserve-3d;
  transform-origin: bottom left;
  transform-origin: center center center;
  transform: rotateY(90deg) skewY(13deg) rotateY(-90deg) translateY(-37px) translateZ(20px); /*  translateY(-$capZ/2 + 33px) */
}

.capright, .capleft {
  backface-visibility: hidden;
  position: absolute;
  width: 360px;
  height: 140px;
  background-color: rgb(45, 43, 43);
}

.capfront, .capback {
  backface-visibility: hidden;
  position: absolute;
  width: 380px;
  height: 140px;
  background-color: rgb(45, 43, 43);
}

.captop, .capbottom {
  backface-visibility: hidden;
  position: absolute;
  width: 380px;
  height: 360px;
  background-color: rgb(45, 43, 43);
}

.capright {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset;
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(180px) translateZ(20px);
}

.capleft {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset;
  transform-origin: top left;
  transform: rotateY(270deg) translateX(-180px);
}

.capfront {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
  text-align: center;
  transform-origin: bottom center;
  transform: translateZ(180px);
}

.capback {
  transform-origin: bottom center;
  transform: translateZ(-180px) rotateY(180deg);
  background-color: rgb(96, 91, 88);
}

.captop {
  background-image: radial-gradient(ellipse at top, rgb(45, 43, 43) 0%, rgb(45, 43, 43) 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset;
  transform-origin: top left;
  transform: rotateX(90deg) translateY(-180px);
}

.capbottom {
  background-image: radial-gradient(ellipse at top, rgb(45, 43, 43) 0%, rgb(45, 43, 43) 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
  transform: rotateX(270deg) translateY(-180px) translateZ(140px);
  transform-origin: top left;
  background-color: rgb(45, 43, 43);
  height: 160px;
}

/* Panel */
.panel {
  z-index: -1;
  transform-style: preserve-3d;
  transform-origin: top center;
  transform: rotateX(-12deg) translateY(350px) translateZ(260px); /* translateY(($panelZ - $arcadeY/2 +55px)) translateZ(130px) */
}

.panelright, .panelleft {
  backface-visibility: hidden;
  position: absolute;
  width: 120px;
  height: 400px;
  background-color: rgb(45, 43, 43);
}

.panelfront, .panelback {
  backface-visibility: hidden;
  position: absolute;
  width: 380px;
  height: 400px;
  background-color: rgb(45, 43, 43);
}

.paneltop, .panelbottom {
  backface-visibility: hidden;
  position: absolute;
  width: 380px;
  height: 120px;
  background-color: rgb(45, 43, 43);
}

.panelright {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(60px) translateZ(260px);
}

.panelleft {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  transform-origin: top left;
  transform: rotateY(270deg) translateX(-60px);
}

.panelfront {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  background-image: radial-gradient(ellipse at bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
  transform-origin: center center;
  transform: translateZ(60px);
}

.panelback {
  /* Screen */
  height: 340px;
  transform-origin: bottom center;
  transform: translateY(-325px) translateZ(-60px) rotateX(32deg);
  background-color: rgb(96, 91, 88);
  background-image: radial-gradient(ellipse at center, rgb(45, 43, 43) 0%, rgb(45, 43, 43) 50%, rgbrgb(45, 43, 43) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
}

.paneltop {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset;
  transform-origin: top left;
  transform: rotateX(90deg) translateY(-60px);
  background-color: rgb(45, 43, 43);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.panelbottom {
  transform: rotateX(270deg) translateY(-60px) translateZ(400px);
  transform-origin: top left;
  background-color: rgb(45, 43, 43);
}

/* Main */
.main {
  xdisplay: none;
  z-index: 1;
}

.main .invader1 {
  animation: none !important;
}

.mainright, .mainleft {
  backface-visibility: hidden;
  position: absolute;
  width: 320px;
  height: 800px;
  background-color: rgb(45, 43, 43);
  text-align: center;
}

.mainright h3 {
  margin-top: 60px;
  transform: perspective(100px) rotateX(-29deg) rotateZ(7deg);
}

.mainleft h3 {
  margin-top: 60px;
  transform: perspective(100px) rotateX(-29deg) rotateZ(-7deg);
}

.mainback {
  position: absolute;
  width: 380px;
  height: 800px;
  background-color: rgb(45, 43, 43);
  background-image: radial-gradient(ellipse at bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
}

.mainbottom {
  position: absolute;
  width: 380px;
  height: 320px;
  background-color: rgb(41, 37, 87);
}

.mainright {
  background-image: linear-gradient(290deg, rgb(45, 43, 43) 0%, rgb(45, 43, 43) 51%, rgb(45, 43, 43) 100%);
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(160px) translateZ(60px); /*  translateZ(30px) */
}

.mainleft {
  background-image: linear-gradient(70deg, rgb(45, 43, 43) 0%, rgb(45, 43, 43) 51%, rgb(45, 43, 43) 100%);
  transform-origin: top left;
  transform: rotateY(270deg) translateX(-160px);
}

.mainright.inner {
  transform: rotateY(-90deg) translateX(160px) translateZ(-60px); /*  translateZ(-30px) */
}

.mainleft.inner {
  transform: rotateY(90deg) translateX(-160px);
}

.mainback {
  transform-origin: bottom center;
  transform: translateZ(-160px) rotateY(180deg);
}

.mainbottom {
  transform: rotateX(270deg) translateY(-160px) translateZ(800px);
  transform-origin: top left;
  background-color: rgb(45, 43, 43);
  box-shadow: 0 0 160px 190px rgba(0, 0, 0, 0.7);
}

/* Space Invaders */
.invader1, .invader2, .invader3 {
  font-size: 8px;
  width: 16em;
  height: 30em;
  background-repeat: repeat-x;
  background-size: 16em 1em;
  background-position: 0 3em, 0 4em, 0 5em, 0 6em, 0 7em, 0 8em, 0 9em, 0 10em, 0 19em, 0 20em, 0 21em, 0 22em, 0 23em, 0 24em, 0 25em, 0 26em;
  animation: animate-invaders 2s steps(1) infinite;
}

.invader1 {
  background-image: linear-gradient(to left, transparent 0, transparent 6em, rgb(255, 28, 28) 6em, rgb(255, 28, 28) 10em, transparent 10em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 28, 28) 3em, rgb(255, 28, 28) 13em, transparent 13em, transparent 15em), linear-gradient(to left, transparent 0, transparent 2em, rgb(255, 28, 28) 2em, rgb(255, 28, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 2em, rgb(255, 28, 28) 2em, rgb(255, 28, 28) 5em, transparent 5em, transparent 7em, rgb(255, 28, 28) 7em, rgb(255, 28, 28) 9em, transparent 9em, transparent 11em, rgb(255, 28, 28) 11em, rgb(255, 28, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 2em, rgb(255, 28, 28) 2em, rgb(255, 28, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(255, 28, 28) 5em, rgb(255, 28, 28) 7em, transparent 7em, transparent 9em, rgb(255, 28, 28) 9em, rgb(255, 28, 28) 11em, transparent 11em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(255, 28, 28) 4em, rgb(255, 28, 28) 6em, transparent 6em, transparent 7em, rgb(255, 28, 28) 7em, rgb(255, 28, 28) 9em, transparent 9em, transparent 10em, rgb(255, 28, 28) 10em, rgb(255, 28, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 28, 28) 3em, rgb(255, 28, 28) 5em, transparent 5em, transparent 11em, rgb(255, 28, 28) 11em, rgb(255, 28, 28) 13em, transparent 13em, transparent 15em), linear-gradient(to left, transparent 0, transparent 6em, rgb(255, 28, 28) 6em, rgb(255, 28, 28) 10em, transparent 10em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 28, 28) 3em, rgb(255, 28, 28) 13em, transparent 13em, transparent 15em), linear-gradient(to left, transparent 0, transparent 2em, rgb(255, 28, 28) 2em, rgb(255, 28, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 2em, rgb(255, 28, 28) 2em, rgb(255, 28, 28) 5em, transparent 5em, transparent 7em, rgb(255, 28, 28) 7em, rgb(255, 28, 28) 9em, transparent 9em, transparent 11em, rgb(255, 28, 28) 11em, rgb(255, 28, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 2em, rgb(255, 28, 28) 2em, rgb(255, 28, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(255, 28, 28) 4em, rgb(255, 28, 28) 7em, transparent 7em, transparent 9em, rgb(255, 28, 28) 9em, rgb(255, 28, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 28, 28) 3em, rgb(255, 28, 28) 5em, transparent 5em, transparent 7em, rgb(255, 28, 28) 7em, rgb(255, 28, 28) 9em, transparent 9em, transparent 11em, rgb(255, 28, 28) 11em, rgb(255, 28, 28) 13em, transparent 13em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(255, 28, 28) 4em, rgb(255, 28, 28) 6em, transparent 6em, transparent 10em, rgb(255, 28, 28) 10em, rgb(255, 28, 28) 12em, transparent 12em, transparent 15em);
}

.invader2 {
  background-image: linear-gradient(to left, transparent 0, transparent 5em, rgb(255, 255, 28) 5em, rgb(255, 255, 28) 6em, transparent 6em, transparent 11em, rgb(255, 255, 28) 11em, rgb(255, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 255, 28) 3em, rgb(255, 255, 28) 4em, transparent 4em, transparent 6em, rgb(255, 255, 28) 6em, rgb(255, 255, 28) 7em, transparent 7em, transparent 10em, rgb(255, 255, 28) 10em, rgb(255, 255, 28) 11em, transparent 11em, transparent 13em, rgb(255, 255, 28) 13em, rgb(255, 255, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 255, 28) 3em, rgb(255, 255, 28) 4em, transparent 4em, transparent 5em, rgb(255, 255, 28) 5em, rgb(255, 255, 28) 12em, transparent 12em, transparent 13em, rgb(255, 255, 28) 13em, rgb(255, 255, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 255, 28) 3em, rgb(255, 255, 28) 6em, transparent 6em, transparent 7em, rgb(255, 255, 28) 7em, rgb(255, 255, 28) 10em, transparent 10em, transparent 11em, rgb(255, 255, 28) 11em, rgb(255, 255, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 255, 28) 3em, rgb(255, 255, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(255, 255, 28) 4em, rgb(255, 255, 28) 13em, transparent 13em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(255, 255, 28) 5em, rgb(255, 255, 28) 6em, transparent 6em, transparent 11em, rgb(255, 255, 28) 11em, rgb(255, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(255, 255, 28) 4em, rgb(255, 255, 28) 5em, transparent 5em, transparent 12em, rgb(255, 255, 28) 12em, rgb(255, 255, 28) 13em, transparent 13em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(255, 255, 28) 5em, rgb(255, 255, 28) 6em, transparent 6em, transparent 11em, rgb(255, 255, 28) 11em, rgb(255, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 6em, rgb(255, 255, 28) 6em, rgb(255, 255, 28) 7em, transparent 7em, transparent 10em, rgb(255, 255, 28) 10em, rgb(255, 255, 28) 11em, transparent 11em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(255, 255, 28) 5em, rgb(255, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(255, 255, 28) 4em, rgb(255, 255, 28) 6em, transparent 6em, transparent 7em, rgb(255, 255, 28) 7em, rgb(255, 255, 28) 10em, transparent 10em, transparent 11em, rgb(255, 255, 28) 11em, rgb(255, 255, 28) 13em, transparent 13em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 255, 28) 3em, rgb(255, 255, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 255, 28) 3em, rgb(255, 255, 28) 4em, transparent 4em, transparent 5em, rgb(255, 255, 28) 5em, rgb(255, 255, 28) 12em, transparent 12em, transparent 13em, rgb(255, 255, 28) 13em, rgb(255, 255, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 3em, rgb(255, 255, 28) 3em, rgb(255, 255, 28) 4em, transparent 4em, transparent 5em, rgb(255, 255, 28) 5em, rgb(255, 255, 28) 6em, transparent 6em, transparent 11em, rgb(255, 255, 28) 11em, rgb(255, 255, 28) 12em, transparent 12em, transparent 13em, rgb(255, 255, 28) 13em, rgb(255, 255, 28) 14em, transparent 14em, transparent 15em), linear-gradient(to left, transparent 0, transparent 6em, rgb(255, 255, 28) 6em, rgb(255, 255, 28) 8em, transparent 8em, transparent 9em, rgb(255, 255, 28) 9em, rgb(255, 255, 28) 11em, transparent 11em, transparent 15em);
}

.invader3 {
  background-image: linear-gradient(to left, transparent 0, transparent 7em, rgb(28, 255, 28) 7em, rgb(28, 255, 28) 9em, transparent 9em, transparent 15em), linear-gradient(to left, transparent 0, transparent 6em, rgb(28, 255, 28) 6em, rgb(28, 255, 28) 10em, transparent 10em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(28, 255, 28) 5em, rgb(28, 255, 28) 11em, transparent 11em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(28, 255, 28) 4em, rgb(28, 255, 28) 6em, transparent 6em, transparent 7em, rgb(28, 255, 28) 7em, rgb(28, 255, 28) 9em, transparent 9em, transparent 10em, rgb(28, 255, 28) 10em, rgb(28, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(28, 255, 28) 4em, rgb(28, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 6em, rgb(28, 255, 28) 6em, rgb(28, 255, 28) 7em, transparent 7em, transparent 9em, rgb(28, 255, 28) 9em, rgb(28, 255, 28) 10em, transparent 10em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(28, 255, 28) 5em, rgb(28, 255, 28) 6em, transparent 6em, transparent 7em, rgb(28, 255, 28) 7em, rgb(28, 255, 28) 9em, transparent 9em, transparent 10em, rgb(28, 255, 28) 10em, rgb(28, 255, 28) 11em, transparent 11em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(28, 255, 28) 4em, rgb(28, 255, 28) 5em, transparent 5em, transparent 6em, rgb(28, 255, 28) 6em, rgb(28, 255, 28) 7em, transparent 7em, transparent 9em, rgb(28, 255, 28) 9em, rgb(28, 255, 28) 10em, transparent 10em, transparent 11em, rgb(28, 255, 28) 11em, rgb(28, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 7em, rgb(28, 255, 28) 7em, rgb(28, 255, 28) 9em, transparent 9em, transparent 15em), linear-gradient(to left, transparent 0, transparent 6em, rgb(28, 255, 28) 6em, rgb(28, 255, 28) 10em, transparent 10em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(28, 255, 28) 5em, rgb(28, 255, 28) 11em, transparent 11em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(28, 255, 28) 4em, rgb(28, 255, 28) 6em, transparent 6em, transparent 7em, rgb(28, 255, 28) 7em, rgb(28, 255, 28) 9em, transparent 9em, transparent 10em, rgb(28, 255, 28) 10em, rgb(28, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(28, 255, 28) 4em, rgb(28, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(28, 255, 28) 5em, rgb(28, 255, 28) 6em, transparent 6em, transparent 7em, rgb(28, 255, 28) 7em, rgb(28, 255, 28) 9em, transparent 9em, transparent 10em, rgb(28, 255, 28) 10em, rgb(28, 255, 28) 11em, transparent 11em, transparent 15em), linear-gradient(to left, transparent 0, transparent 4em, rgb(28, 255, 28) 4em, rgb(28, 255, 28) 5em, transparent 5em, transparent 11em, rgb(28, 255, 28) 11em, rgb(28, 255, 28) 12em, transparent 12em, transparent 15em), linear-gradient(to left, transparent 0, transparent 5em, rgb(28, 255, 28) 5em, rgb(28, 255, 28) 6em, transparent 6em, transparent 10em, rgb(28, 255, 28) 10em, rgb(28, 255, 28) 11em, transparent 11em, transparent 15em);
}

@keyframes animate-invaders {
  50% {
    background-position: 0 19em, 0 20em, 0 21em, 0 22em, 0 23em, 0 24em, 0 25em, 0 26em, 0 3em, 0 4em, 0 5em, 0 6em, 0 7em, 0 8em, 0 9em, 0 10em;
  }
}
.invader1.small, .invader2.small, .invader3.small {
  font-size: 4px;
  height: 15em;
  display: inline-block;
  opacity: 0.8;
  position: relative;
  top: -10em;
  animation: none;
}


.invader1.big {
  left: 20px;
}

.invader2.big {
  left: 80px;
}

.invader3.big {
  left: 20px;
}

.row {
  width: 144em;
  height: 15em;
}

.row.double {
  height: 30em;
}

.space-invaders {
  position: absolute;
  transform-origin: left top;
  transform: scale(0.2);
  z-index: 1;
  top: 0;
  left: 0;
  top: 20px;
  left: 15px;
  animation: showinvaders 10s steps(1) infinite;
}

@keyframes showinvaders {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.gameover {
  text-align: center;
  font: bold 35px/160px Arial;
  color: rgb(255, 28, 28);
  z-index: 1;
  animation: showgameover 10s steps(1) infinite;
}

@keyframes showgameover {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.space-invaders-move {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  top: 20px;
  left: 10px;
  width: 300px;
  animation: moveinvaders 16s steps(16) infinite;
}

@keyframes moveinvaders {
  0% {
    left: 0;
  }
  50% {
    left: 3em;
  }
  100% {
    left: 0;
  }
}
.insertcoin {
  padding-top: 20px;
  text-align: center;
  font: bold 26px/30px Arial;
  color: rgb(255, 255, 255);
  z-index: 1;
  opacity: 0;
  animation: flash 2s steps(1) infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#logofront {
   position: relative;
   top: -30px;
   width: 300px;
   height: 110px;
}

#logoback {
  position: relative;
  top: -35px;
  width: 380px;
  height: 960px;
}

.cap .logo {
  padding-top: 45px;
}

.mainleft .logo {
  transform: perspective(100px) rotateX(-25deg) rotate(353deg);
}

.mainright .logo {
  transform: perspective(100px) rotateX(-25deg) rotate(7deg);
}

.button {
  margin-top: 2px;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(230, 0, 0);
}

.button.players1:before, .button.players2:before,
.button.fire:before,
.button.left:before, .button.right:before {
  position: absolute;
  white-space: pre;
  content: "1 Player ";
  font: bold 10px/20px Arial;
  color: #eee;
  right: 24px;
}

.button.players2:before {
  content: "2 Player";
}

.button.fire:before, .button.left:before, .button.right:before {
  content: "Fire";
  right: auto;
  left: 0px;
  bottom: -20px;
}

.button.left:before {
  content: "Left";
}

.button.right:before {
  content: "Right";
}

.button:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(230, 0, 0);
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
}

.coinslot {
  position: relative;
  float: right;
  width: 100px;
  height: 60px;
  border-radius: 3px;
  background: #aaa;
  margin: 20px;
  border: 2px solid #888;
}

.coinslot:before {
  content: "Insert coin";
  position: absolute;
  left: 20px;
  top: 20px;
  font: bold 10px Arial;
  color: #111;
}

.coinslot:after {
  position: absolute;
  left: 84px;
  top: 16px;
  content: "";
  width: 4px;
  height: 22px;
  background: #111;
}

.powersocket {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background: #aaa;
  border: 1px solid #aaa;
}

.powersocket:before, .powersocket:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 10px;
  width: 4px;
  height: 4px;
  background-color: black;
}

.powersocket:after {
  background-color: black;
  left: 14px;
}

.screen {
  display: inline-block;
  position: relative;
  width: 300px; /* 150px */
  height: 260px; /* 120px */
  margin: 35px 40px 0 40px; /* 35px 20px 0 20px */
  background: #111;
  border-radius: 50%/10%;
  color: white;
  z-index: 0;
}

.screen:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  z-index: -1;
  background: inherit;
  border-radius: 5%/50%;
}

.paneltop {
  overflow: hidden;
  text-align: center;
}

.playerleft {
  float: left;
  margin-top: 60px;
  margin-left: 65px;
}

.playerleft .button {
  margin-right: 10px;
}

.playerright {
  padding-left: 40px;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}

.playercenter {
  margin-top: 60px;
  margin-right: 50px;
}/*# sourceMappingURL=arcade.css.map */
