html {
    height: 100%;
    margin-bottom: 1px;
  }
  
body {
    background: #71c6ff;
    padding: 10px;
}

.stage {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    transform-origin: 100% 100%;
    margin: 80px 0 100px 100px;
    transition: transform 1s;
  }

.machinewrap {
  position: relative;
  width: 380px;
/*  transform-style: preserve-3d;
  transform: scale(0.5);
  transition: all 1s;
}

.machinewrap:hover {
    transform: scale(1);
}
*/
  /* Rotate */
.machinewrap .machine {
    position: relative;
    width: 380px;
    transform-style: preserve-3d;
    animation: spin 6s linear infinite;
    animation-play-state: running;
    transition: all 1.5s;
    transform: rotateY(89deg);
}

.machinewrap:hover .machine {
    transform: rotateY(0deg);
    animation: none; 
}

/* marquee */
.marquee {
  transform-origin: center center center;
  perspective: 500px;
}

.headboard {
    width: 1370px;
    height: 150px;
    background-color: rgb(47, 43, 94);
    position: absolute;
    translate: -84px -185px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
    border-radius: 3px;
}

.soundpanel {
    background-image: radial-gradient(ellipse at top, rgb(31, 28, 66) 0%, rgba(31, 28, 66, 0) 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
    background-color: rgb(76, 64, 210);
    position: absolute;
    width: 1369px;
    height: 200px;
    background-color: rgb(41, 37, 87);
    rotate: 1 0 0 -70deg;
    translate: -83px -35px;
    transform-origin: top;
    transform: skewX(37.5deg);
    border-radius: 3px;
  }

.speaker {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 9px;
  align-items: center;
  padding-top: 29px;
}

.hole1 {
  width: 100px;
  height: 15px;
  background-color: black;
  border-radius: 30px;
}

.hole2 {
  width: 130px;
  height: 15px;
  background-color: black;
  border-radius: 30px;
}

.hole3 {
  width: 160px;
  height: 15px;
  background-color: black;
  border-radius: 30px;
}

.hole4 {
  width: 130px;
  height: 15px;
  background-color: black;
  border-radius: 30px;
}

.hole5 {
  width: 100px;
  height: 15px;
  background-color: black;
  border-radius: 30px;
}

.monitor{
  perspective: 500px;
}

.backpanel {
  width: 1370px;
  height: 600px;
  translate: 50px -64px -157px;
  rotate: 1 0 0 3deg;
  transform: skewX(-1.5deg);
  z-index: -1;
  position: absolute;
  border-radius: 1%/50%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  background-color: #31383c;
}

.monitorbezel {
  width: 1370px;
  height: 600px;
  translate: 50px -64px -157px;
  rotate: 1 0 0 3deg;
  transform: skewX(-1.5deg);
  z-index: 0;
  position: absolute;
  border-radius: 1%/50%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3) inset 1 1 10px 10px rgba(250, 239, 239, 0.3) inset;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
  linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.06),
    rgba(0, 255, 0, 0.02),
    rgba(0, 0, 255, 0.06)
  );
  background-size: 100% 4px, 30px 100%;
  z-index: 1;
  animation: flicker 100ms infinite;  
}

.monitorbezel:after {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 2;
}

.screen {
  position: relative;
  z-index: -1;
  width: 1270px; 
  height: 550px; 
  background: #1e2e28;
  rotate: 1 0 0 3deg;
  translate: 112px -38px -172px;
  transform: skewX(-1.5deg);
  border-radius: 1%/80%;
}

video {
  position: relative;
  width: 100%;
  height: 100%;
  rotate: 1 0 0 3deg;
  border-radius: 1%/80%;
}

@keyframes flicker {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

.controlbox {
  perspective: 500px;
}

.controlpanel {
  width: 1371px;
  height: 200px;
  background-image: radial-gradient(ellipse at bottom, rgb(31, 28, 66) 0%, rgba(31, 28, 66, 0) 100%);
  box-shadow: 0 0 0 -2px rgba(0, 0, 0, 0.3) inset;
  background-color: rgb(76, 64, 210);
  position: absolute;
  background-color: rgb(41, 37, 87);
  rotate: 1 0 0 50deg;
  translate: -10px -130px -77px;
  transform: skewX(-32deg);
  border-radius: 5px;
}

.consolebuttons {
  display: flex;
  align-content: center;
  flex-flow: column wrap;
  width: 100%;
  justify-content: center;

}

.column1{
  flex-basis: 100;

}

.column2 > .consolebuttons{
  flex-basis: 100;
  align-items: space-between ;
  align-content: row;
}

.column3{
  flex-basis: 100;
}
.up {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid red;
}

.right{ 
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid red;
	border-bottom: 25px solid transparent;
}

.left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid red;
	border-bottom: 25px solid transparent;
}

.down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid red;
}

.bottompanel {
  width: 1371px;
  height: 55px;
  background-color: rgb(47, 43, 94);
  position: absolute;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
  border-radius: 3px;
  translate: -71px 32px -2px;
}
